body {
    background-color: #F5FBFF;
}

p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: 0.4rem;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

@media(max-width:768px){
    .navbar-nav > li:hover {
        background-color: #f8f6ee;
    }
}