/* Panel de administración */
body {
    background-color: #F5FBFF;
}

.admin-dashboard h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.admin-dashboard ul {
    list-style: none;
    padding: 0;
}

.admin-dashboard ul li {
    background: #f1f1f1;
    margin: 5px 0;
    padding: 10px 15px;
    border-radius: 5px;
}

.admin-dashboard ul li a {
    color: #1d72b8;
    font-weight: bold;
}
